
<div id="content">
    <div id="headnews">
            <div id="div">
                <div id="headnews2">
                    <div id="div2">
                    <div class="headnews_a">
                        <div class="head_b">
                            <img data-url="bid_logo.png" />                    
                        </div>
                        <div class="headnews_d2 headtx_a1">
                            <a href="" id="contact">联系我们</a>
                        </div>
                        <div class="headnews_d2 headtx_a1">
                            <a href="#main_a">产品与服务</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
    <div id="bana">
        <div class="feat-area">
            <ul class="slider" id="slider">
                <li data-opacity="0.2" class="li1"></li>
                <li data-opacity="0.2" class="li2"></li>
                <li data-opacity="0.2" class="li3"></li>
            </ul>
            <div class="gain" id="userGain" >
                <div class="gain-cont login">
                    <div id="dengl">
                        <form>
                            <div class="dengl_a dengl_tx_a">
                                登录
                                <span class="login-tips"></span>
                            </div>
                            <div class="dengl_b">
                                <div class="dengl_b1">
                                    <div class="dengl_b1a">
                                        <img data-url="hj_in_26.jpg" width="28" height="34" />                
                                    </div>
                                    <div class="dengl_b1b">
                                        <input class="loginIn" placeholder="请输入账号" tabindex="1" name="username" type="text"></div>
                                </div>
                            </div>
                            <div class="dengl_c"></div>
                            <div class="dengl_b">
                                <div class="dengl_b1">
                                    <div class="dengl_b1a">
                                        <img data-url="hj_in_27.jpg" width="28" height="34" />                
                                    </div>
                                    <div class="dengl_b1b">
                                        <input class="loginIn" placeholder="请输入密码" tabindex="2" name="password" type="password" value=""></div>
                                </div>
                            </div>
                            <div class="dengl_c"></div>
                            <div class="dengl_b">
                                <div class="dengl_b2">
                                    <div class="dengl_b1a">
                                        <img data-url="hj_in_28.jpg" width="28" height="34" />                
                                    </div>
                                    <div class="dengl_b1aa">
                                        <span class="dengl_b1b">
                                            <input class="loginIn loginverfIn" placeholder="请输入验证码" name="verificationCode" type="text" maxlength="5" value="" tabindex = "3"></span>
                                    </div>
                                </div>
                                <div class="dengl_b3">
                                    <img src="" id="img_num" style="cursor: pointer" width="86" height="40" class="novis" alt="" />                
                                </div>
                                <div class="dengl_b4 dengl_tx_b novis">
                                    看不清
                                    <br />                
                                    换一张
                                </div>
                            </div>
                            <div class="dengl_bb"></div>
                            <div class="dengl_b">
                                <input type="button" value="登录" class="loginbt" tabindex = "4" >                
                            </div>
                            <!-- <p class="tar loginforget">
                                <a href="" target="_blank" style="color:#fff">忘记密码？</a>
                            </p> -->
                        </form>
                    </div>
                </div>
                <div class="opacity"></div>
            </div>
        </div>
    </div>

    <div id="biddingos-content">
        
    </div>

    <div id="main_e">
        <div class="main_e1"></div>
        <div class="main_e2">
            <div class="main_e3">
                <div class="main_e5">
                    <table width="0" border="0" cellspacing="0">
                        <tr>
                            <td width="42" height="35">
                                <img data-url="hj_in_19.jpg" width="32" height="28" />    
                            </td>
                            <td class=" main_tx_a5">深圳市海数互联科技有限公司</td>
                        </tr>
                    </table>
                </div>
                <div class="main_e6"></div>
                <div class="main_e7">
                    <table width="0" border="0" cellspacing="0">
                        <tr>
                            <td width="32" height="30">
                                <img data-url="hj_in_20.jpg" width="30" height="30" />    
                            </td>
                            <td width="165" class="main_tx_a5a">媒体接入合作咨询</td>
                            <td width="32">
                                <img data-url="hj_in_21.jpg" width="30" height="30" />    
                            </td>
                            <td width="165">
                                <span class="main_tx_a5a">应用推广咨询</span>
                            </td>
                            <td width="32">
                                <img data-url="hj_in_22.jpg" width="30" height="30" />    
                            </td>
                            <td width="165">
                                <span class="main_tx_a5a">加入我们</span>
                            </td>
                            <td width="32">
                                <img data-url="hj_in_23.jpg" width="30" height="30" />    
                            </td>
                            <td width="171">
                                <span class="main_tx_a5a">新闻采访</span>
                            </td>
                        </tr>
                    </table>
                    <table width="0" border="0" cellspacing="0">
                        <tr>
                            <td width="32" height="21">&nbsp;</td>
                            <td width="165" valign="top" class="main_tx_a5a">pub@biddingos.com</td>
                            <td width="32">&nbsp;</td>
                            <td width="164" valign="top">
                                <span class="main_tx_a5a">ad@biddingos.com</span>
                            </td>
                            <td width="34">&nbsp;</td>
                            <td width="164" valign="top">
                                <span class="main_tx_a5a">hr@biddingos.com</span>
                            </td>
                            <td width="32">&nbsp;</td>
                            <td width="171" valign="top">
                                <span class="main_tx_a5a">pr@biddingos.com</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="main_e8">
                    <img data-url="hj_in_17.jpg" width="760" height="18" />    
                </div>
                <div></div>
            </div>
            <div class="main_e4">
                <img data-url="hj_in_16.jpg" width="390" height="320" />
            </div>
        </div>
    </div>
</div>
<div id="foot">
    <div class="foot_a foot_tx_a">
        京ICP备15006186号-1   Copyright©BiddingOS.com &nbsp;&nbsp; 深圳市海数互联科技有限公司
    </div>
</div>

<script id="tpl-biddingos" type="text/x-dot-template">
    <div id="main_a">
        <div class="main_a_a1">
            <div class="main_a_a2">原生广告</div>
            <div class="main_a_a3">
                <% if(it.dsp){ %>
                   广告即内容，大幅提升用户点击率
                <% }else{%>
                   广告即内容，推广内容分级管控和匹配，提升用户体验，转化率高；
                    <br />
                    支持iOS和Android两大平台，服务于主流应用分发渠道，
                    <br />
                    覆盖超过3亿智能手机用户。
                <%}%>
            </div>
        </div>
    </div>

    <div id="main_b">
        <div class="main_a_a1">
            <div class="main_b_a1">程序化交易</div>
            <div class="main_b_a2">
                <% if(it.dsp){ %>
                    实时竞价，实时看效果；
                    <br />
                    价格透明，降低人工干预风险，提升投放效率；
                <% }else{%>
                    高效透明，降低人工干预风险，提升运营效率；
                    <br />
                    先充值再投放，降低坏账风险，减少结算和回款投入；
                    <br />
                    在线计费与结算。
                <%}%>

            </div>
        </div>
    </div>


    <div id="main_c">
        <div class="main_a_a1">
            <div class="main_c_a1">CPD(cost per download)实时竞价</div>
            <div class="main_c_a2">

                <% if(it.dsp){ %>
                    按实际下载计费，效果清晰、成本易控制。
                <% }else{%>
                    将闲散流量转化为可销售资源，增加新的收入来源；
                    <br />
                    实时最大化资源的变现价值与效率；
                    <br />
                    按下载计费效果清晰、易评估。
                <%}%>

            </div>
        </div>
    </div>

    <div id="main_d">
        <div class="main_a_a1">
            <div class="main_b_a1">投放算法与收入优化</div>
            <div class="main_b_a2">
                个性化精准投放；
                <br />
                机器学习，动态智能优化；
                <br />
                大数据智能分析。
            </div>
        </div>
    </div>

    <div id="main_f">
        <div class="main_a_a1">
            <div class="main_c_a1">实时数据报表</div>
            <div class="main_c_a2">
                <% if(it.dsp){ %>
                    精确到每个渠道，包括曝光、转化、收入等多维度的详细报表；可邮件订阅，及时掌握运营状态，辅助商业决策。
                <% }else{%>
                    精确到每个推广位，包括曝光、转化、收入等多维度的详细报表；
                    <br />
                    <br />
                    可邮件订阅，及时掌握运营状态，辅助商业决策。
                <%}%>
            </div>
        </div>
    </div>


    <% if(!it.dsp){ %>
        <div id="main_g">
            <div class="main_a_a1">
                <div class="main_g_a1">安全可靠的推广资源接入</div>
                <div class="main_b_a2">接入模块开放API+开放源码，安全透明。</div>
            </div>
        </div>
    <% }%>
</script>