<!--#include virtual="/bos-front/dev/common/head.html"-->
<div id="js-account-container" class="tf-receipt">
    <!-- Tab项 -->
    <div class="tabbox">
        <ul id="accout-type-wrapper" class="nav nav-tabs">
            <li data-account-type="ADVERTISER"><a href="javascript:void(0);">广告主账号</a></li>
            <li data-account-type="BROKER"><a href="javascript:void(0);">代理商账号</a></li>
            <li data-account-type="TRAFFICKER"><a href="javascript:void(0);">媒体商账号</a></li>
            <li data-account-type="MANAGER"><a href="javascript:void(0);">联盟运营账号</a></li>
        </ul>
    </div>
    <div class="modal fade bs-example-modal-sm" id="reset-passwd-wrapper" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">重置密码</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="new-passwd" placeholder="请输入新密码">
                        <input id="user-id" type="hidden">
                        <span id="show-tips" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="reset-passwd-confirm">确认</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-account-panel" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog" role="document" style="width:960px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加账号</h4>
                </div>
                <div class="modal-body">
                    <form id="add-account-container" class="form-horizontal">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="add-account-confirm">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 表格数据 -->
    <div id="addaccount-btn-wrapper" class="table-ctl">
        <span id="addaccount-btn" class="btn btn-primary pull-right"> + 新建账号 </span>
    </div>
    <table id="account-table" class="table table-striped table-bordered table-hover table-fixed-header"></table>
    <script type="text-x-dot-template" id="tpl-addaccount">
            <div class="form-group required">
                <label for="" class="col-sm-2 control-label">登录账号:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="act-username" maxlength="16"
                        placeholder="登录账号必须由2-16个中文，字母，数字组成"
                        check-type="required loginaccount" required-message="请输入登录账号">
                </div>
            </div>
            <div class="form-group required">
                <label for="" class="col-sm-2 control-label">登录密码:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="password" onfocus="this.type='password'" maxlength="16"
                        placeholder="6-16位字符"
                        check-type="required password" required-message="请输入密码">
                </div>
            </div>
            <div class="form-group required">
                <label for="" class="col-sm-2 control-label">联系人:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="contact-name" maxlength="20" placeholder="请输入联系人"
                        check-type="required contact" required-message="请输入联系人">
                </div>
            </div>
            <div class="form-group required">
                <label for="" class="col-sm-2 control-label">邮箱:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="email-address" placeholder="请输入邮箱"
                        check-type="required mail" required-message="请输入邮箱">
                </div>
            </div>
            <div class="form-group required">
                <label for="" class="col-sm-2 control-label">手机号:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="phone" maxlength="11" placeholder="请输入手机号码"
                        check-type="required mobile" required-message="请输入手机号码">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">QQ:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="qq" maxlength="20"
                         placeholder="输入QQ号"
                        check-type="qq">
                </div>
            </div>
            <div class="form-group required">
                <label for="" class="col-sm-2 control-label">账号类型:</label>
                <div class="col-sm-6">
                    <select class="form-control" check-type="required" id="account-type">
                        <% if(it.accountSubType && it.accountSubType.length > 0) { %>
                            <% for(var i = 0,j = it.accountSubType.length; i < j; i++) {%>
                            <option value="<%=it.accountSubType[i].account_sub_type_id%>" data-operation-list="<%=it.accountSubType[i].default_operation%>"><%=it.accountSubType[i].name%></option>
                            <%}%>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="form-group required">
                <label for="" class="col-sm-2 control-label">权限:</label>
                <div class="col-sm-10 permission-list">
                    <% if(it.allOperation && it.allOperation.length > 0) { %>
                        <% for(var i = 0,j = it.allOperation.length; i < j; i++) { %>
                            <%if ((it.allOperation[i].id + '').endsWith('101')) {%>
                                <div class="col-sm-12"></div>
                                <label class="col-sm-3" style="white-space: nowrap; padding: 7px 0 0 20px; font-weight:700;">
                            <%} else {%>
                            <label class="col-sm-3" style="white-space: nowrap; padding: 7px 0 0 20px; font-weight:400;">
                            <%}%>
                                <input type="checkbox" name="permission" value="<%=it.allOperation[i].name%>" check-type="required" >
                                    <%=it.allOperation[i].label%>
                            </label>
                        <% } %>
                    <% } %>
                </div>
            </div>
    </script>
</div>
<script type="text-x-dot-template" id="tpl-permissionlist">
    <% if(it && it.length > 0) { %>
        <% for(var i = 0,j = it.length; i < j; i++) { %>
            <%if ((it[i].id + '').endsWith('101')) {%>
                <div style="width:100%;margin:0;"></div>
                <div><label>   
                    <input type="checkbox" name="checklist" value="<%=it[i].name%>">
                    <span style="font-weight:700;"><%=it[i].label%></span>
                </label></div>
            <%} else{%>
                <div><label>   
                    <input type="checkbox" name="checklist" value="<%=it[i].name%>">
                    <span><%=it[i].label%></span>
                </label></div>
            <%}%>  
        <% } %>
    <% } %>
</script>
<script src="../../js/common/validate.js"></script>
<script src="../../js/common/editable.js"></script>
<script src="../js/account-index.js"></script>
<!--#include virtual="/bos-front/dev/common/footer.html"-->